body{ 
    background: linear-gradient(#B7F8D8, #50A7C2) !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
} 
.card{
    height: 370px;
    margin-top: 100px;
    margin-bottom: auto;
    width: 400px;
    background-color: white !important;
}
