body{ 
    background: linear-gradient(#B7F8D8, #50A7C2) !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
} 
/*body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 55s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}*/
.card{
    height: 70%;
    margin-top: 100px;
    margin-bottom: auto;
    width: 80%;
    background-color: white !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.input-group-text{
    width: 30%;
}
.text{
    width: 70%;
}