body{ 
    background: linear-gradient(#B7F8D8, #50A7C2) !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
} 

#title{
    margin-top: 3rem;
}
h1 {
    padding: 5rem;
}
#search{
    margin-top: 3rem;
    padding: 5rem;
}

.col{
    padding: 1rem;
}

.grid{
    margin-top: 2rem;
}

@media (min-width: 992px){
    .search-sec{
        position: relative;
        background: #1A4668;
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
        
    }
}

#searchBtn{
    width: 90%;
}

.card{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}